<button (click)="triggerObs()">Trigger obs</button>
<button (click)="triggerSub()">Trigger sub</button>
<button (click)="seeSubjectAsObserver()">Prove sub is observer</button>
<button (click)="proveSubMulticas()">Prove sub is multicast</button>
<button (click)="proveObsDoesotShareInstances()">Prove obs does not share instancet</button>
<button (click)="triggerBehaviourSub()">Trigger beh sub</button>
<button (click)="triggerReplaySubj()">Trigger rep sub</button>
<button (click)="triggerAsyncSubject()">Trigger async sub</button>





