<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
      <label class="form-control" style="border: none;"><h3>Select account:</h3></label>
      <select class="form-control" (change)="filterAccountsTransactions($event.target.value)">
          <option (select)="filterAccountsTransactions()" value=''>All</option>
          <option (select)="filterAccountsTransactions(acc.id)" *ngFor="let acc of accounts" value="{{acc.id}}">
            {{acc.name}} ({{acc.amount}})
          </option>
      </select>
    </div>
    <div class="col-lg-4"></div>
</div>

<app-jurnal [transactions]="filteredTransactions" (selectedValue)="filterKind($event)"></app-jurnal>
