<div class="row">
    <app-balance-calendar></app-balance-calendar>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="box">
            <div class="row">
                    
                <div class="col-lg-3">
                    <a href="">  
                    <img src="../../../assets/606px-Balance,_by_David.svg.png" alt="">
                    </a>
                </div>
                
              
                <div class="col-lg-3">
                    <a [routerLink]="['profit-and-l']">                       
                    <img src="../../../assets/Profit-and-Loss-1024x853-1024x853.jpg" alt="">
                    </a>
                </div>
                    
                <div class="col-lg-3">
                    <a [routerLink]="['jurnal']">   
                        <img src="../../../assets/images.png" alt="">
                    </a>
                </div>
           
           
                <div class="col-lg-3" style="border: none">
                    <a [routerLink]="['add']">
                        <img src="../../../assets/traditional-FTE-based-pricing.jpg" alt="">
                    </a>
                </div>
           
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
