<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form [formGroup]="transactionForm" (ngSubmit)="sendTransaction()">
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a [className]="condition ? 'nav-link active' : 'nav-link'" (click)="changeIncome()">Income</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [className]="!condition ? 'nav-link active' : 'nav-link'" (click)="changeExpense()">Expence</a>
                    </li>
                </ul>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputDate">Date of transaction</label>
                <input type="date" class="form-control" id="inputDate" placeholder="Date" name="date" formControlName="date">
                </div>
                <div class="form-group col-md-6">
                <label for="inputPeriod">Period of transaction</label>
                <input type="date" class="form-control" id="inputPeriod" placeholder="Period" name="period" formControlName="period">
                </div>
                <div *ngIf="isSubmited && formControls.period.errors" class="alert alert-danger" role="alert">
                    Period of transaction is field is required!
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription">Short description</label>
                <input type="text" class="form-control" id="inputDescription" placeholder="Description" name="description" formControlName="description">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                <label for="inputAmount">Amount</label>
                <input type="number" class="form-control" id="inputAmount" name="amount" formControlName="amount">
                </div>
                <div class="form-group col-md-4">
                <label for="inputCredit">Credit</label>
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
                <select id="inputCredit" class="form-control" name="credit" formControlName="credit">
                    <option value="" disabled>Credit</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDebit">Debit</label>
                    <select id="inputDebit" class="form-control"  name="debit" formControlName="debit">
                        <option value="" disabled>Credit</option>
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    </select>
                </div>  
                
                <button class="add" [disabled]="popUpOpen" (click)="openPopUp()"><span ><i class="fas fa-plus"></i> Add new category</span> </button>
                <app-pop-up class="my-prompt" [isOpen]="popUpOpen">
                    <div class="row">
                        <div class="box">
                            <div class="col-lg-6">
                                <input type="text" id="userInput"  class="form-control">
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-2"><button class="btn btn-primary" type="button" (click)="createCategiry()">&lt;&nbsp;Add&nbsp;&gt;</button></div>
                            <div class="col-lg-2"> <button class="btn btn-dark" type="button"  (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button></div>

                        </div>                       
                    </div>
                  </app-pop-up>   
            </div>
            <div *ngIf="isSubmited && formControls.amount.errors" class="alert alert-danger" role="alert">
                Amount is field is required and should be positive number!
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>