ul {
    width: 40%;
    margin: auto;
    padding-bottom: 10%;
}

.nav-item {
    cursor: pointer;
}

select {
    font-family: 'FontAwesome', 'Second Font name'
}

.add {
    background: none;
    border: none;
    font-size: 1rem;
    color: gray;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 5%;
    &:hover {
        border-bottom: 1px solid grey;
    }
}

.box {
    display: contents;
}

.vc {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}