<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        
        <form [formGroup]="transactionForm" (ngSubmit)="sendTransaction()">
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a [className]="isIncome == 'income' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('income')">Income</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [className]="isIncome == 'expense'  && !transfer ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('expense')">Expence</a>
                    </li>
                    <li class="nav-item">
                            <a [className]="isIncome == 'transfer' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('transfer')">Transfer</a>
                    </li>
                </ul>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputDate">Date of transaction</label>
                <input type="date" class="form-control" id="inputDate" placeholder="Date" name="date" formControlName="date">
                </div>
                <div class="form-group col-md-6">
                <label for="inputPeriod">Period of transaction</label>
                <input type="month" class="form-control" id="inputPeriod" placeholder="Period" name="period" formControlName="period">
                </div>
                <div *ngIf="isSubmited && formControls.period.errors" class="alert alert-danger" role="alert">
                    Period of transaction is field is required!
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription">Short description</label>
                <input type="text" class="form-control" id="inputDescription" placeholder="Description" name="description" formControlName="description">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                <label for="inputAmount">Amount</label>
                <input type="number" class="form-control" id="inputAmount" name="amount" formControlName="amount">
                </div>
                 <div class="form-group col-md-4">
                    <label for="inputAccount">From account</label>
                    <select id="inputAccount" class="form-control"  name="account" formControlName="account">
                        <option value="" disabled>Choose account</option>
                        <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
                    </select>
                </div>  
                <!-- <div class="form-group col-md-4" *ngIf="isIncome != 'transfer'">
                    <label for="inputCategory">Category</label>
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
                    <select id="inputCategory" class="form-control" name="category">
                        <option value="" disabled>Select catryegy</option>
                        <option *ngFor="let category of categoriesFiltered" [ngValue]="category.id">{{category.name}}</option>
                    </select>
                </div>     -->
                <div class="form-group col-md-4" *ngIf="isIncome != 'transfer'">
                    <label for="inputCategory">Category</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="width: 100%" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </button>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <div *ngFor="let category of categoriesFiltered">
                                <li  class="dropdown-item" *ngIf="category.sub_categories.length == 0" ><a [id]="category.id" style="cursor: pointer" (click)=selectCategory($event.target.id)>{{category.name}}</a></li>
                            
                            <li *ngIf="category.sub_categories.length != 0" class="dropdown-submenu">
                              <a  class="dropdown-item" tabindex="-1">{{category.name}}</a>
                              <ul class="dropdown-menu">
                                <li *ngFor="let sub_category of category.sub_categories" class="dropdown-item"><a tabindex="-1" [id]="sub_category" style="cursor: pointer" (click)=selectSubCategory(category.id,$event.target.id)>{{sub_category}}</a></li>
                              </ul>
                            </li>
                        </div>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-md-4" *ngIf="isIncome == 'transfer'">
                    <label for="inputAccount">To account</label>
                    <select id="inputAccount" class="form-control" name="account" (change)="bindToAccountId($event.target.value)">
                        <option value="" disabled>Choose account</option>
                        <option *ngFor="let account of accounts" [ngValue]="account.id" [value]="account.id">{{account.name}}</option>
                    </select>
                </div>   

                
                
                <button class="add" [disabled]="popUpOpen" (click)="openPopUp()"><span ><i class="fas fa-plus"></i> Add new category</span> </button>
                <app-pop-up class="my-prompt" [isOpen]="popUpOpen">
                    <div class="row">
                        <div class="box" formGroupName="new_category">
                            <select id="inputCategory" class="form-control" name="category" formControlName="group">
                                <option value="" disabled>Select income/expense</option>
                                    <option value="expense">Expense</option>
                                    <option value="income">Income</option>
                            </select>
                            <div class="form-group">
                                <label for="inputDescription">Type category</label>
                                <input type="text" class="form-control" id="inputDescription" placeholder="Fixed/non-fixed ect.." formControlName="type">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Name of the category</label>
                                <input type="text" class="form-control" id="inputDescription" placeholder="Food/Bills..." formControlName="name">
                            </div>
                            <div class="form-group">
                                <label for="">Please write yoour subcategories separeted by ", "</label>
                                <input type="text" class="form-control" placeholder="meet, fruits..." formControlName="sub_categories">
                            </div>
                            <div class="form-group">                                <label for=""></label>
                                <button class="btn btn-primary" style="margin: 5% 2% 0% 15%;" type="button" (click)="createCategiry()">&lt;&nbsp;Add&nbsp;&gt;</button></div>
                            <div class="form-group" >  <label for=""></label><button class="btn btn-dark" style="margin: 5% 2% 0% 15%;" type="button"  (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button></div>

                        </div>                       
                    </div>
                  </app-pop-up>   
            </div>
            <div *ngIf="isSubmited && formControls.amount.errors" class="alert alert-danger" role="alert">
                Amount is field is required and should be positive number!
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>