<app-filter></app-filter>

<table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Period</th>
            <th scope="col">Account Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Debit Account</th>
            <th scope="col">Credit Account</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let transaction of transactions">
          <tr [className]="transaction.type == 'income' ? 'alert-success' : 'alert-danger'">
            <th scope="row">{{transaction.id}}</th>
            <td>{{transaction.period}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
            <td> <span *ngIf="transaction.category.group != 'income'">-</span>{{transaction.amount}}</td>
            <td *ngIf="transaction.category.group == 'income'">{{transaction.account.name}} <span *ngIf="transaction.sub_category">: {{transaction.sub_category}}</span> </td>
            <td *ngIf="transaction.category.group == 'income'">{{transaction.category.name}} <span *ngIf="transaction.sub_category">: {{transaction.sub_category}}</span> </td>
            <td *ngIf="transaction.category.group == 'expense'">{{transaction.category.name}} <span *ngIf="transaction.sub_category">: {{transaction.sub_category}}</span> </td>
            <td *ngIf="transaction.category.group == 'expense'">{{transaction.account.name}} <span *ngIf="transaction.sub_category">: {{transaction.sub_category}}</span> </td>

          </tr>
        </ng-container>
        </tbody>
      </table>