<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form class="form-inline" method="POST" [formGroup]="filterForm" (ngSubmit)="filter()">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a [className]="isIncome == 'income' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('income')">Income</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [className]="isIncome == 'expense'  && !transfer ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('expense')">Expence</a>
                        </li>
                        <li class="nav-item">
                                <a [className]="isIncome == 'transfer' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('transfer')">Transfer</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="sr-only" for="from">From</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="from" formControlName="from">
                </div>
                <div class="form-group col-md-6">

                    <label class="sr-only" for="to">To</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="to" placeholder="Username" formControlName="to">
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>

    
