<form class="form-inline" method="POST" [formGroup]="filterForm" (ngSubmit)="filter()">
    <label class="sr-only" for="from">From</label>
    <input type="date" class="form-control mb-2 mr-sm-2" id="from" formControlName="from">
  
    <label class="sr-only" for="to">To</label>
    <input type="date" class="form-control mb-2 mr-sm-2" id="to" placeholder="Username" formControlName="to">

    <div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a [className]="isIncome == 'income' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('income')">Income</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [className]="isIncome == 'expense'  && !transfer ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('expense')">Expence</a>
                </li>
                <li class="nav-item">
                        <a [className]="isIncome == 'transfer' ? 'nav-link active' : 'nav-link'" (click)="changeIncomeExpense('transfer')">Transfer</a>
                </li>
            </ul>
        </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
